/* src/global.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', -apple-system, Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}
